* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: ariel, sans-serif;
	font-size: medium;
	text-decoration: none;
}

.header {
	position: relative;
	height: 5vh;
	width: 100vw;
	display: flex;
	flex-flow: row;
	justify-content: right;
}

.container {
	position: relative;
	height: 95vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.box {
	border: 1px solid black;

}
